/nbproject
/config.json
/.sass-cache/
/node_modules/.staging/shady-sequelize-9bf106fb/nbproject/private/
/node_modules/shady-sequelize/nbproject/private/
node_modules
/function-ids.json
.netbeans.xml
.env