extends layout/layout

block custom-head
  title 
    = Viksu
  link(rel='stylesheet', href='//cdn.metatavu.io/libs/flatpickr/4.0.6/flatpickr.min.css')
  link(rel='stylesheet', href='/css/index.min.css')
  script(defer='defer', src='//cdn.metatavu.io/libs/snap.svg/0.4.1/snap.svg-min.js',type='text/javascript')
  script(defer='defer', src='//cdn.metatavu.io/libs/flatpickr/4.0.6/flatpickr.min.js',type='text/javascript')
  script(defer='defer', src='//cdn.metatavu.io/libs/flatpickr/4.0.6/l10n/fi.js',type='text/javascript')
  script(defer='defer', src='/js/pug-templates.min.js',type='text/javascript')
  script(defer='defer', src='//cdn.metatavu.io/libs/moment/2.17.1/moment.js',type='text/javascript')
  script(defer='defer', src='/js/bot.min.js',type='text/javascript')
  script(defer='defer', src='/js/index.min.js',type='text/javascript')
block body
  main.container(role='main')
    if !noHeader
      h1.main-heading.text-center.d-none.d-md-block Viksu, Lumme Energian sähköttäjä
    .row
      .col-lg-3
        .viksu-container.text-center(class=!useSvg ? 'no-svg' : '')
          if useSvg
            !=svgData
          else
            img(src='//cdn.metatavu.io/assets/lumme/viksu.gif')
      .col-lg.chat-controls
        .chat-container(class=!useSvg ? 'no-svg' : '')
          .discussion-container
        .bot-controls
          .bot-typing-container
            .bot-typing.float-right
              img(src='gfx/typing.svg')
              | Viksu kirjoittaa...
          .quick-responses
          .input-group.send-message-bar
            input.form-control.form-control-lg.user-text-input(type='text', placeholder="Kirjoita vastauksesi")
            input.form-control.form-control-lg.user-date-input(type='text', style='display: none')
            .input-group-append
              button.btn.btn-lumme.btn-lg.send-message-btn(type='button') Lähetä
            small.bot-hint-text.form-text.text-muted
