@charset "UTF-8";

$button-background-hover: #000;
$button-background: #bfff00;
$button-text-hover: #bfff00;
$button-text: #000;
$background: #eaeaea;
$heading-grey: #7f7f7f;
$black: #000;

$bot-message-color: #fff;
$user-message-color: #bfff00;