@charset "UTF-8";

@import "fonts";
@import "colors";

.viksu-img {
  width: 100%;
}

.chat-container {
  max-height: calc(100vh - 190px);
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  
  &.no-svg {
    padding-left: 40px;
  }

  @media (min-width: 768px) { 
    max-height: calc(100vh - 290px);
  }
  
  @media (min-width: 1200px) { 
    max-height: 400px;
    
    &.no-svg {
      padding-left: 0;
    }
  }
  
  .discussion-container {
    padding: 35px;
    @media (max-width: 991.98px) {
      padding-top: 55px;
      padding-bottom: 100px;
    }
  }
}

.bot-controls {
  background-color: $background;

  @media (max-width: 991.98px) { 
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .send-message-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    
    .bot-hint-text {
      min-height: 20px;
    }
  }
}

.main-heading {
  margin-top: 50px;
  margin-bottom: 80px;
  @include font-h1();
  color: $heading-grey;
  font-size: 60px;
  
  @media (max-width: 991.98px) { 
    font-size: 32px;
    margin-bottom: 25px;
  }  
}

.bot-hint-text {
  width: 100%;
  padding-left: 4px;
}

.quick-message-btn {
  margin-left: 5px;
}

.bot-typing-container {
  img {
    height: 40px;
  }
}

.message {
  padding: 20px;
  min-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  border-radius: .4em;

  @media (max-width: 900px) { 
    max-width: 95%
  }  

  @media (min-width: 901px) and (max-width: 1024px) {
    max-width: 85%
  }

  @media (min-width: 1025px) and (max-width: 1300px) {
    max-width: 75%
  }

  @media (min-width: 1301px) {
    max-width: 65%;
  }
  
  &.bot-response {
    float: left;
    background: $bot-message-color;
    
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-right-color: $bot-message-color;
      border-left: 0;
      border-top: 0;
      margin-top: -10px;
      margin-left: -20px;
    }
  }
  
  &.user-response {
    float: right;
    background: $user-message-color;
    
    &::after { 
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-left-color: $user-message-color;
      border-right: 0;
      border-top: 0;
      margin-top: -10px;
      margin-right: -20px;
    }
  }
}

.message-wrapper {
  
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.user-text-input,.user-date-input {
  border-radius: 0;
}

.viksu-container {
  @media (max-width: 991.98px) {
    position: fixed;
    top: -70px;
    left: -40px;
    z-index: 1040;
    transform: scale(0.7);
    
    &.no-svg {
      z-index: 0;
    }
    
    img {
      margin-left: 50px;
      margin-top: 180px;
      max-width: 150px;
    }
  }
  
  @media (max-width: 767.98px) {
    position: fixed;
    top: -120px;
    left: -70px;
    z-index: 1040;
    transform: scale(0.45);
  }
  
}