@charset "UTF-8";

@import "fonts";
@import "colors";

.viksu-img {
  width: 100%;
}
.chat-container {
  max-height: 400px;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  
  .discussion-container {
    padding: 35px;
  }
}
.send-message-bar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-heading {
  margin-top: 50px;
  margin-bottom: 80px;
  @include font-h1();
  color: $heading-grey;
  font-size: 60px;
}

.bot-hint-text {
  width: 100%;
  padding-left: 4px;
}

.quick-message-btn {
  margin-left: 5px;
}

.bot-typing-container {
  height: 40px;
  width: 100%;

  img {
    height: 40px;
  }
}

.bot-response {
  padding: 20px;
  min-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  background: #ffffff;
  border-radius: .4em;
  
  &::after { 
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
  }
}

.user-response {
  padding: 20px;
  min-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  background: #ffffff;
  border-radius: .4em;
  
  &::after { 
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #ffffff;
    border-right: 0;
    margin-top: -20px;
    margin-right: -20px;
  }
}
